{% extends "layout.html" %}

{% block pageTitle %}
How many new Kickstart Scheme jobs do you want to apply for? - Kickstart scheme application
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="just-for-the-kickstart-scheme" method="post" novalidate>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="event-name">How many new Kickstart Scheme jobs do you want to
            apply for?</label>
        </h1>
        <input class="govuk-input govuk-input--width-5" id="number-jobs" name="number-jobs" type="text">
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}