{% extends "layout.html" %}

{% block pageTitle %}
Provide information to show that these jobs have been created just for the Kickstart Scheme - Kickstart scheme
application
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="what-additional-support-is-needed" method="post" novalidate>

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="500">
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-heading govuk-heading-l" for="word-count">
              Provide information to show that these jobs have been created just for the Kickstart Scheme
            </label>
            </h1>

            <div id="register-hint" class="govuk-hint">
              <p class="govuk-body">This means each new role must:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>be funded by the Kickstart Scheme grant and would not exist without the funding</li>
                <li>be paid from the grant money for the 25 hours per week on National Minimum Wage (employers can pay a
                higher wage and pay for more hours)</li>
                <li>not replace existing or planned vacancies</li>
                <li>not cause existing employees or contractors to lose or reduce their employment</li>
              </ul>
            </div>

            <textarea class="govuk-textarea govuk-js-character-count" id="word-count" name="word-count" rows="10"
            aria-describedby="word-count-info"></textarea>
          </div>

          <div id="word-count-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
          You have 500 words remaining
        </div>

        </div>

        <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      </form>
    </div>
  </div>

{% endblock %}