{% extends "layout.html" %}

{% block pageTitle %}
Do all of your Kickstart Scheme job placements meet the criteria? - Kickstart scheme application
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/variations-criteria" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="company-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do all your new Kickstart Scheme jobs meet the criteria?
            </h1>
          </legend>

          <p class="govuk-body">The jobs must be:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>6 months</li>
            <li>at least 25 hours per week</li>
            <li>paying at least the National Minimum Wage (or the National Living Wage depending on the age of the
              participant) through PAYE</li>
            <li>paying the statutory employer duties for the health, safety and welfare for young people, National
              Insurance and pension contributions </li>
            <li>including support for young people to help them get work after they finish their Kickstart Scheme job
            </li>
          </ul>

          <h2 class="govuk-heading-m">Do your new jobs meet this criteria?</h2>

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="metcrit-yes" name="metcrit" type="radio" value="true">
              <label class="govuk-label govuk-radios__label" for="metcrit-yes">Yes, all jobs meet this criteria</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="metcrit-no" name="metcrit" type="radio" value="false">
              <label class="govuk-label govuk-radios__label" for="metcrit-no">No, not all jobs meet this
                criteria</label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}