{% extends "layout.html" %}

{% block pageTitle %}
  Apply for a Kickstart Scheme Grant for Employers
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Apply for a Kickstart Scheme Grant or a variation to an existing Kickstart Scheme Grant</h1>

        <p class="govuk-body">Use this service to apply for a Kickstart Scheme grant. If you already have a grant agreement with DWP you do not need to apply again. You can get in touch with your <a class="govuk-link" href="#">local and national Kickstart Scheme contacts</a> to add more job placements or employers to your grant agreement.</p>

        <p class="govuk-body">
          <a class="govuk-link" href="https://www.gov.uk/guidance/apply-for-a-kickstart-scheme-grant#job-placement-criteria">Check if you can apply</a> for a grant through Kickstart Scheme.
        </p>

        <div class="govuk-inset-text">
            Applications from new Kickstart gateways closed on 27 January 2021. If you are a Kickstart gateway who already has a grant agreement with DWP you can <a class="govuk-link" href="#">continue to add more employers and job placements to your grant agreement</a>.
        </div>
        <p class="govuk-body">The online service is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</p>

        <h2 class="govuk-heading-l">Before you start</h2>
        <p class="govuk-body">You will need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your organisation's registered address and contact details</li>
          <li>your Companies House reference number, Charity Commission number or Office of the Scottish Charity Regulator number, if you have one</li>
          <li>XXX your employee numbers XXX</li>
          <li>details of the Kickstart Scheme job placements and their location</li>
          <li>supporting information to show that the job placements are new jobs and meet the <a class="govuk-link" href="#">Kickstart Scheme criteria</a>
          </li>
          <li>information about the support you will give to develop the employability skills of young people on the scheme</li>
        </ul>

        <a href="are-you-an-employer.html" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
            Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
          </svg>
        </a>
      </div>
    </div>
  </main>
</div>

{% endblock %}