{% extends "layout.html" %}

{% block pageTitle %}
Add details of each organisation applying for additional jobs - Kickstart scheme application
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="tell-us-why-you-need-the-additional-jobs" method="post" novalidate>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="event-name">Add details of the employers and Kickstart jobs you
            want to add to your Grant Agreement
          </label>
        </h1>

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="500">
          <div class="govuk-form-group">

            <p class="govuk-body">We need to know:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>employer name</li>
              <li>employer's registered address</li>
              <li>Charity Commission number or Companies House number</li>
              <li>number of paid employees</li>
              <li>number of jobs the employer is offering</li>
              <li>are they completely new to you as a gateway?</li>
              <li>are they an existing employer you deal with who wish to increase the number of placements they offer
                through you?</li>
            </ul>

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="500">
              <div class="govuk-form-group">
                <div id="register-hint" class="govuk-hint">
                  Enter all the information you have to support your application.
                </div>
                <textarea class="govuk-textarea govuk-js-character-count" id="word-count" name="word-count" rows="10"
                  aria-describedby="word-count-info"></textarea>
              </div>

              <div id="word-count-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                You can enter up to 500 words
              </div>
            </div>

            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
    </form>
  </div>
</div>

{% endblock %}