{% extends "layout.html" %}

{% block pageTitle %}
  The application process has changed for Kickstart gateways
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta</strong>
      <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">The application and adding additional jobs processes have changed for Kickstart gateways</h1>

        <h3 class="govuk-heading-m">Kickstart gateways can add to their existing grant agreement</h3>

        <p class="govuk-body">If you already have a grant agreement with DWP you can <a class="govuk-link" href="/design-features/1197_grant-variations/gateway/enter-your-kickstart-reference-id">add more employers and jobs</a> using this online service.</p>

        <h3 class="govuk-heading-m">Kickstart gateways waiting on a grant agreement with DWP</h3>

        <p class="govuk-body">If you are approved for funding and now waiting on your grant agreement you can continue to work with the scheme and add more job placements or employers to your grant agreement once your grant agreement is sent to you.</p>

        <p class="govuk-body">If you are a Kickstart gateway who has applied for Kickstart Scheme funding but not yet heard from DWP, we will contact you with a decision. You do not need to apply again.</p>

        <h3 class="govuk-heading-m">Kickstart gateways applying for the first time</h3>
        <p class="govuk-body">We are no longer accepting applications from Kickstart gateways. You can get in touch with the <a class="govuk-link" href="https://www.gov.uk/guidance/apply-for-a-kickstart-scheme-grant#job-placement-criteria"> local and national Kickstart Scheme contacts</a> to find other ways you can work with the scheme, such as providing employability support on behalf of employers.</p>

        <h3 class="govuk-heading-m">Get in touch with the Kickstart Scheme</h3>
        <p class="govuk-body">If you would like to find out how you can engage with the Kickstart Scheme get in touch with the <a class="govuk-link" href="https://www.gov.uk/guidance/apply-for-a-kickstart-scheme-grant#job-placement-criteria"> local and national Kickstart Scheme contacts</a>.</p>

      </div>

    </div>
{% endblock %}