{% extends "layout.html" %}

{% block pageTitle %}
Check the information you have given - Kickstart scheme application
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="company-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Check the information you have given
                    </h1>
                </legend>

                <p class="govuk-body"></p>
                <form action="provide-evidence-that-these-meet-the-criteria" method="post" novalidate>
                    <dl class="govuk-summary-list">

                        {% for company in data.companies %}

                        <h3 class="govuk-heading-m">Employer {{loop.index}}</h3>
                        <dl class="govuk-summary-list">

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Registered organisation name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p>{{company.company_name or "ABC LTD"}}</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link"
                                        href="/design-features/1197_grant-variations/gateway-api/crn-lookup/company-number">
                                        Change<span class="govuk-visually-hidden">Organisation reference number</span>
                                    </a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Organisation reference number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p>{{company.company_number or "1234567"}}</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link"
                                        href="/design-features/1197_grant-variations/gateway-api/crn-lookup/company-number">
                                        Change<span class="govuk-visually-hidden">Organisation reference number</span>
                                    </a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Registered office address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{company.registered_office_address.address_line_1 or "24 Edenhurst Ave"}}<br>
                                    {% if data.company.registered_office_address.address_line_2%}
                                    {{company.registered_office_address.address_line_2 or "Fulham"}}<br>
                                    {% endif %}
                                    {{company.registered_office_address.locality or "London"}}<br>
                                    {{company.registered_office_address.postal_code or "SW6 3NP"}}<br>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link"
                                        href="/design-features/1197_grant-variations/gateway-api/crn-lookup/company-number">
                                        Change<span class="govuk-visually-hidden">Organisation address</span>
                                    </a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Number of jobs
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p>{{ data['number-jobs'] }}</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link"
                                        href="/design-features/1197_grant-variations/gateway-api/how-many-jobs">
                                        Change<span class="govuk-visually-hidden">Brief description</span>
                                    </a>
                                </dd>
                            </div>

                        </dl>

                        <br>


                        {% endfor %}

                        <p class="govuk-body">Check the information you’ve entered. You can make changes or <a
                                class="govuk-link"
                                href="/design-features/1197_grant-variations/gateway-api/crn-lookup/has-company-number">add
                                another employer</a> before you submit these details and continue.</p>

                    </dl>

                    <button class="govuk-button" data-module="govuk-button">
                        Submit and continue
                    </button>
                </form>

        </div>
    </div>

    {% endblock %}