{% extends "layout.html" %}

{% block pageTitle %}
Do you already have a Kickstart Scheme grant agreement with DWP? – Kickstart scheme application
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="add-another" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="company-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you work with this company already?
            </h1>
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="new-employer" name="new-employer" type="radio"
                value="government-gateway" aria-describedby="new-employer-item-hint">
              <label class="govuk-label govuk-radios__label" for="new-employer">
                No, they are a new employer in our Kickstart gateway
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify"
                aria-describedby="sign-in-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="sign-in-2">
                Yes, they are an exisiting employer within in our Kickstart gateway
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}