{% extends "layout.html" %}

{% block pageTitle %}
  Apply for a Kickstart Scheme Grant for Employers
{% endblock %}

{% block content %}

  <div id="progress-container" class="progress-container" role="region" aria-live="assertive" tabindex="-1">
    <p id="progress" class="progress govuk-heading-m" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Uploading file</p>
    <div class="percentage">
      <p id="percentage"></p>
    </div>

    <a href="javascript:history.back()" class="">Cancel</a>
  </div>

  <script>
    setTimeout(function () {
      window.location.href = 'check-file-uploaded';
    }, 4000);
  </script>

{% endblock %}