{% extends "layout_no_title.html" %}

{% block pageTitle %}
Prototype: Getting young people into the Kickstart Scheme jobs - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Work</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Working, jobs and pensions</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Finding a job</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-caption-xl">
      Guidance</h1>
    <h2 class="govuk-heading-l">Getting young people into the Kickstart Scheme jobs</h2>

    <p class="govuk-body-l">
      Changes to your existing Kickstart Scheme jobs that you need to tell us about and how to create more Kickstart
      Scheme jobs.</p>
  </div>
</div>

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p class="govuk-body-s">From: <strong>
          <a href="https://www.gov.uk/government/organisations/department-for-work-pensions">Department for Work and
            Pensions</a>
        </strong><br>
        Published 13 September 2021<br>
        Last updated 19 November 2021 — <a href="#">See all updates</a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-padding-bottom-4"></div>

      <div class="app-c-important-metadata app-c-important-metadata--bottom-margin">
        <dl data-module="gem-track-click">
          <dd class="app-c-important-metadata__definition">Applies to England, Scotland and Wales</dd>
        </dl>
      </div>

      <h2 id="contents" class="gem-c-contents-list__title">Contents</h2>
      <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 1" data-track-label="#employer-guidance"
            data-track-options="{&quot;dimension29&quot;:&quot;Employer guidance&quot;}"
            href="#employer-guidance">Employer guidance</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 2" data-track-label="#before-you-can-get-a-young-person-into-a-job"
            data-track-options="{&quot;dimension29&quot;:&quot;Before you can get a young person into a job&quot;}"
            href="#before-you-can-get-a-young-person-into-a-job">Before you can get a young person into a job</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 3" data-track-label="#how-to-get-the-young-people-into-jobs"
            data-track-options="{&quot;dimension29&quot;:&quot;How to get the young people into the jobs&quot;}"
            href="#how-to-get-the-young-people-into-jobs">How to get the young people into the jobs</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 4" data-track-label="#leaves-the-job-early"
            data-track-options="{&quot;dimension29&quot;:&quot;If a young person leaves the job early&quot;}"
            href="#leaves-the-job-early">If a young person leaves the job early</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 5" data-track-label="#add-more-jobs"
            data-track-options="{&quot;dimension29&quot;:&quot;Add more jobs to your grant agreement (grant variation)&quot;}"
            href="#add-more-jobs">Add more jobs to your grant agreement (grant variation)</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 6" data-track-label="#get-help"
            data-track-options="{&quot;dimension29&quot;:&quot;Get help and support with managing your Kickstart Scheme jobs&quot;}"
            href="#get-help">Get help and support with managing your Kickstart Scheme jobs</a>
        </li>
      </ol>

      <div class="govuk-!-padding-bottom-8"></div>

      <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>

      <div class="govuk-!-padding-bottom-6"></div>

      <h2 id="employer-guidance" class="govuk-heading-m govuk-!-font-size-27">Employer guidance


        <div class="call-to-action">
          <p>Kickstart Scheme applications close at midday on 17 December 2021.</p>
          <p>
            <a href="https://www.gov.uk/guidance/kickstart-scheme-closure">Check the other deadlines for completing
              Kickstart Scheme tasks.</a>
          </p>
        </div>

        <ul class="govuk-list govuk-list--number">
          <li>
            <p>
              <a href="how-the-kickstart-scheme-works">Find out how the Kickstart Scheme works and check if your
                organisation is eligible to apply</a>
            </p>
          </li>
          <li>
            <p>
              <a href="apply-online-for-a-kickstart-scheme-grant">Apply online for a Kickstart Scheme grant</a> or <a
                href="apply-for-a-kickstart-scheme-grant-through-a-kickstart-gateway">apply
                through a Kickstart gateway</a>
            </p>
          </li>
          <li>
            <p>
              <a href="submit-your-kickstart-scheme-vacancies">Submit your vacancies</a>
            </p>
          </li>
          <li>
            <p>
              Get the young people into the Kickstart Scheme jobs
            </p>
          </li>
          <li>
            <p>
              <a href="manage-your-kickstart-scheme-funding">Manage your funding</a>
            </p>
          </li>
        </ul>

        <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-inset-text">
          If you're a Kickstart gateway, check the <a href="kickstart-scheme-for-gateways">guidance
            for gateways</a>.
        </div>

        <div class="govuk-!-padding-bottom-2"></div>

        <h2 id="before-you-can-get-a-young-person-into-a-job" class="govuk-heading-m govuk-!-font-size-27">Before you
          can get a
          young person into a job </h2>

        <p class="govuk-body">You need to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>successfully <a href="apply-online-for-a-kickstart-scheme-grant">apply online</a> or <a
              href="apply-for-a-kickstart-scheme-grant-through-a-kickstart-gateway">apply through a Kickstart
              gateway</a> for a Kickstart Scheme grant before midday on 17 December 2021</li>
          <li>sign and return the grant agreement to DWP or your Kickstart gateway before 11:59pm on 7 January 2022</li>
          <li>
            <a href="submit-your-kickstart-scheme-vacancies">submit your vacancies</a> by 11:59pm on 31 January 2022
          </li>
        </ul>

        <div class="govuk-!-padding-bottom-4"></div>

        <h2 id="how-to-get-the-young-people-into-jobs" class="govuk-heading-m govuk-!-font-size-27">How to get the young
          people
          into the jobs</h2>

        <p class="govuk-body">The total grant is made up of:</p>

        <ul class="govuk-list govuk-list--number">
          <li>
            <p>Work coaches at Jobcentre Plus will use the vacancies you or your gateway submitted to match candidates
              to the jobs. They’ll do this until 1 March 2022.</p>
          </li>
          <li>
            <p>You or your Kickstart gateway will receive a ‘referral’ email each time a young person is referred to the
              vacancy.</p>
          </li>
          <li>
            <p>Referred candidates may choose to apply for the job placement.</p>
          </li>
          <li>
            <p>You’ll then be able to interview the candidates who have applied.</p>
          </li>
          <li>
            <p>The young person must start the job on or before 31 March 2022.</p>
          </li>
          <li>
            <p>You or your Kickstart gateway should tell DWP by 11:59pm on 30 April 2022 that the young person has
              started so we can process the funding. You’ll be told how to do this in the ‘referral’ email.</p>
          </li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break ">

        <div class="govuk-inset-text">
          You can advertise vacancies yourself, but all jobs must receive an introduction through a DWP work coach to
          receive full funding. DWP also uploads the approved vacancies to <a href="https://www.gov.uk/find-a-job">Find
            a job</a> on your behalf – so you do not
          have to do this. Young people can search this site for Kickstart vacancies themselves. We’ll advertise
          Kickstart jobs on Find a job until 28 February 2022.
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break ">

        <h2 id="leaves-the-job-early" class="govuk-heading-m govuk-!-font-size-27">If a young person leaves the job
          early
        </h2>

        <p class="govuk-body">You must email DWP as soon as possible if a young person either: </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>leaves their job before the end of the 6-month period</li>
          <li>needs to temporarily leave their job (for example for special leave or COVID-19-related restrictions)
          </li>
          </li>
        </ul>

        <p class="govuk-body">The email address is the same one you use to tell DWP about the young person’s start date.
          You’ll be told how to do this in the ‘referral’ email you get when a work coach refers a young person to your
          job vacancy.</p>

        <p class="govuk-body">If a young person leaves their job early, the next scheduled wage payment from DWP will be
          the last you receive for them.</p>

        <p class="govuk-body">DWP may be able to extend the funding period if the young person has to temporarily stop
          working.</p>

        <p class="govuk-body">You can replace the person who left early with another young person referred to the
          vacancy by a work coach. They must start on or before 31 March 2022.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break ">

        <h2 id="add-more-jobs" class="govuk-heading-m govuk-!-font-size-27">Add more jobs to your grant agreement
          (grant variation) </h2>

        <p class="govuk-body">You can add more jobs to your grant agreement after it has been approved. This is known as
          a ‘grant variation’.</p>

        <p class="govuk-body">The additional jobs will be assessed to make sure they meet the <a
            href="how-the-kickstart-scheme-works#criteria">Kickstart
            Scheme criteria</a>.
        </p>

        <p class="govuk-body">If you applied directly, you can <a
            href="/design-features/apply-service-closure/start-phase-1">add more jobs online using the application
            service</a> (until
          midday on 17 December 2021).</p>

        <p class="govuk-body">If you applied through a Kickstart gateway, tell them you’d like to add more jobs. They
          will contact DWP to arrange this and must do this before midday on 17 December 2021.</p>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break ">

        <h2 id="get-help" class="govuk-heading-m govuk-!-font-size-27">Get help and support with managing your Kickstart
          Scheme jobs</h2>

        <p>Contact your <a href="https://www.gov.uk/government/publications/kickstart-scheme-employer-contacts">local or
            national Kickstart Scheme contact</a> if you need help with the application
          process.</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body-s">Published 13 September 2021<br>
          Last updated 19 November 2021 <a href="#"> + show all updates</a>
        </p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

        <div class="app-c-contents-list-with-body__link-container">
          <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
            <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
              viewBox="0 0 13 17" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
            </svg> Contents
          </a>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

        <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this
          page</button>

    </div>
    <div class="govuk-grid-column-one-third">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h3 class="govuk-heading-s">Related content</h3>
      <p class="govuk-body-s">
        <a href="submit-your-kickstart-scheme-vacancies">Submit your Kickstart Scheme vacancies</a>
      </p>
      <p class="govuk-body-s">
        <a href="kickstart-scheme-terms-and-conditions">Kickstart Scheme terms and conditions</a>
      </p>
      <p class="govuk-body-s">
        <a href="manage-your-kickstart-scheme-funding">Manage your Kickstart Scheme funding</a>
      </p>
      <p class="govuk-body-s">
        <a href="https://www.gov.uk/government/publications/kickstart-scheme-employer-contacts">Kickstart Scheme
          contacts</a>
      </p>
      <p class="govuk-body-s">
        <a href="https://www.gov.uk/guidance/find-someone-to-apply-for-a-kickstart-scheme-grant-on-your-behalf">Find a
          Kickstart gateway to apply for a Kickstart Scheme grant on your behalf</a>
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

      <div class="gem-c-contextual-sidebar__brexit-cta">
        <h2 class="gem-c-contextual-sidebar__brexit-heading govuk-heading-s">Brexit</h2>
        <p class="gem-c-contextual-sidebar__brexit-text govuk-body">
          <a href="https://www.gov.uk/brexit">Check what you need to do</a>
        </p>
      </div>

    </div>

</main>
</div>
{% endblock %}