{% extends "layout_no_title.html" %}

{% block pageTitle %}
Prototype: Kickstart Scheme for employers - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Work</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Working, jobs and pensions</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Finding a job</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-caption-xl">
      Guidance</h1>
    <h2 class="govuk-heading-l">Kickstart Scheme for employers</h2>

    <p class="govuk-body-l">
      Employers can apply until 17 December 2021 for funding to create jobs for 16 to 24 year olds on Universal Credit.
    </p>
  </div>
</div>

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p class="govuk-body-s">From: <strong>
          <a href="https://www.gov.uk/government/organisations/department-for-work-pensions">Department for Work and
            Pensions</a>
        </strong><br>
        Published 13 September 2021<br>
        Last updated 19 November 2021 — <a href="#">See all updates</a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-padding-bottom-4"></div>

      <div class="app-c-important-metadata app-c-important-metadata--bottom-margin">
        <dl data-module="gem-track-click">
          <dd class="app-c-important-metadata__definition">Applies to England, Scotland and Wales</dd>
        </dl>
      </div>

      <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>

      <div class="govuk-!-padding-bottom-6"></div>

      <h2 id="kickstart-scheme-guidance" class="govuk-heading-m govuk-!-font-size-27">If you’re an employer looking to
        create jobs</h2>

      <div class="call-to-action">
        <p>Kickstart Scheme applications close at midday on 17 December 2021.</p>
        <p>
          <a href="kickstart-scheme-closure">Check the other deadlines for completing
            Kickstart Scheme tasks.</a>
        </p>
      </div>

      <p class="govuk-body">Employers of all sizes can apply for funding until midday on 17 December 2021 to create jobs
        for 16 to 24 year olds on Universal Credit.</p>

      <p class="govuk-body">The funding covers:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>100% of the <a href="https://www.gov.uk/national-minimum-wage-rates">National Minimum Wage</a> (or the <a
            href="https://www.gov.uk/national-minimum-wage-rates">National Living Wage</a> depending on the age of the
          participant) for 25 hours per week for a total of 6 months</li>
        <li>associated <a
            href="https://www.gov.uk/national-insurance-rates-letters#employer-national-insurance-rates">employer
            National Insurance contributions </a>
        </li>
        <li>
          <a href="https://www.thepensionsregulator.gov.uk/en/employers">minimum automatic enrolment pension
            contributions</a>
        </li>
      </ul>

      <h3 class="govuk-heading-s">Employer guidance</h3>

      <ul class="govuk-list govuk-list--number">
        <li>
          <p>
            <a href="how-the-kickstart-scheme-works">How the Kickstart Scheme works</a>
          </p>
        </li>
        <li>
          <p>
            <a href="apply-online-for-a-kickstart-scheme-grant">Apply online for a Kickstart Scheme grant</a> or <a
              href="apply-for-a-kickstart-scheme-grant-through-a-kickstart-gateway">Apply for a grant through a
              Kickstart gateway</a>
          </p>
        </li>
        <li>
          <p>
            <a href="submit-your-kickstart-scheme-vacancies">Submit your vacancies</a></p>
        </li>
        <li>
          <p>
            <a href="getting-young-people-into-the-kickstart-scheme-jobs">Get young people into the Kickstart Scheme
              jobs</a></p>
        </li>
        <li>
          <p>
            <a href="manage-your-kickstart-scheme-funding">Manage your funding</a></p>
        </li>
      </ul>

      <div class="govuk-inset-text">
        If you’re a Kickstart gateway, check the <a href="kickstart-scheme-for-gateways">guidance for gateways</a>.
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body-s">Published 13 September 2021<br>
        Last updated 19 November 2021 <a href="#"> + show all updates</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

      <div class="app-c-contents-list-with-body__link-container">
        <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
          <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
            viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg> Contents
        </a>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>

    </div>
    <div class="govuk-grid-column-one-third">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h3 class="govuk-heading-s">Related content</h3>
      <p class="govuk-body-s">
        <a href="how-the-kickstart-scheme-works">How the Kickstart Scheme works</a>
      </p>
      <p class="govuk-body-s">
        <a href="kickstart-scheme">Kickstart Scheme</a>
      </p>
      <p class="govuk-body-s">
        <a href="apply-online-for-a-kickstart-scheme-grant">Apply online for a Kickstart Scheme grant</a>
      </p>
      <p class="govuk-body-s">
        <a href="kickstart-scheme-closure">Kickstart Scheme closure</a>
      </p>
      <p class="govuk-body-s">
        <a href="apply-for-a-kickstart-scheme-grant-through-a-kickstart-gateway">Apply for a Kickstart Scheme grant
          through a Kickstart gateway</a>
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body-s">Collection</p>
      <p class="govuk-body-s">
        <strong>
          <a href="kickstart-scheme">Kickstart Scheme</a>
        </strong>
      </p>

      <div class="gem-c-contextual-sidebar__brexit-cta">
        <h2 class="gem-c-contextual-sidebar__brexit-heading govuk-heading-s">Brexit</h2>
        <p class="gem-c-contextual-sidebar__brexit-text govuk-body">
          <a href="https://www.gov.uk/brexit">Check what you need to do</a>
        </p>
      </div>

    </div>

</main>
</div>
{% endblock %}