{% extends "layout.html" %}

{% block pageTitle %}
  Give a brief description of your organisation and the type of work it does - Kickstart scheme application
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="how-many-employees" method="post" novalidate>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="company-description">
              Give a brief description of your organisation and the type of work it does
            </label>
          </h1>

          <div id="register-hint" class="govuk-hint">
            We use this to understand the nature of your work and assess your application.
          </div>

          <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="400">
            <div class="govuk-form-group">
              <textarea class="govuk-textarea govuk-js-character-count" id="company-description" name="company-description" rows="10" aria-describedby="word-count-info"></textarea>
            </div>
            <div id="word-count-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You can enter up to 400 words
            </div>
          </div>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}