{% extends "layout.html" %}

{% block pageTitle %}
What training will the young person receive as part of the role you are offering? - Kickstart scheme application
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="kickstart-employability-support-4" method="post" novalidate>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="training">What training will the young person receive as part of the role you are offering?</label>
          </h1>

          <p class="govuk-body">Include details of any recognised certificates they may get, for example Level 1 Food Hygiene Certificate.</p>

          <div id="register-hint" class="govuk-hint">
            We ask about employability training, such as CV writing or mock interviews next. Do not include that type of training here.
          </div>

          <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="400">
            <div class="govuk-form-group">
              <textarea class="govuk-textarea govuk-js-character-count" id="training" name="training" rows="10" aria-describedby="word-count-info"></textarea>
            </div>

            <div id="word-count-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You can enter up to 400 words
            </div>

          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

  {% endblock %}