{% extends "layout.html" %}

{% block pageTitle %}
How you will help the young person manage their timekeeping and attendance? - Kickstart scheme application
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="kickstart-employability-support-2" method="post" novalidate>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="timekeeping">How will you help the young person manage their timekeeping and attendance?</label>
          </h1>

          <div id="register-hint" class="govuk-hint">
            If you cover this in your induction of all new staff, tell us how it will apply to the Kickstart Scheme.
          </div>

          <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="400">
            <div class="govuk-form-group">
              <textarea class="govuk-textarea govuk-js-character-count" id="timekeeping" name="timekeeping" rows="10" aria-describedby="word-count-info"></textarea>
            </div>

            <div id="word-count-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You can enter up to 400 words
            </div>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

  {% endblock %}