{% extends "layout.html" %}

{% block pageTitle %}
How will you help the young person manage their timekeeping and attendance? – Apply for a Kickstart Scheme Grant for Employers – GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="kickstart-employability-support-2" method="post" novalidate>

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="400">
          <div class="govuk-form-group">
            <h1 class="form-title govuk-heading-l" for="word-count">
            How will you help the young person manage their timekeeping and attendance?
          </h1>

            <div id="register-hint" class="govuk-hint">
              <p class="govuk-body">If you cover this in your induction of all new staff, tell us how it will apply to the Kickstart Scheme.</p>
            </div>

            <textarea class="govuk-textarea govuk-js-character-count" id="word-count" name="word-count" rows="10"
            aria-describedby="word-count-info"></textarea>
          </div>

          <div id="word-count-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
          You have 400 words remaining
        </div>
        </div>

        <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
      </form>
    </div>
  </div>

{% endblock %}