{% extends "layout_no_back.html" %}

{% block pageTitle %}
Not eligible - Employability Support – Apply for a Kickstart Scheme Grant for Employers – GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/registered-answer" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="company-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
          Your Kickstart Scheme job placements need to include employability support
        </h1>
            </legend>

            <p class="govuk-body">You need to provide employability support to young people to get a Kickstart Scheme grant.</p>

            <p class="govuk-body">The type of support we expect is anything that will help a young person be in a better position to find work in the future.</p>

            <p class="govuk-body">The Kickstart Scheme job placements should help them get basic work skills. This includes:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>attendance</li>
              <li>timekeeping</li>
              <li>communication</li>
              <li>teamwork</li>
              <li>travelling to work</li>
            </ul>

            <p class="govuk-body">Kickstart participants may also need help with:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>CV and interviews</li>
              <li>looking for long term work</li>
            </ul>

            <p class="govuk-body">You can also work with other organisations to provide this employability support on your behalf.</p>

            <p class="govuk-body">Apply for the Kickstart Scheme grant when you have included employability support with your job placements.</p>

            <p class="govuk-body">
              <a href="https://www.gov.uk/government/collections/kickstart-scheme">Read more about the Kickstart Scheme on the guidance page.</a>
            </p>

          </form>

        </div>
      </div>

    {% endblock %}