{% extends "layout.html" %}

{% block pageTitle %}
  The Kickstart Scheme application process has changed
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
      <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
  </div>
  <a class="govuk-back-link" href="how-many-placements">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">The Kickstart Scheme application process has changed</h1>

        <p class="govuk-body">If you already have a grant agreement with DWP you can add more employers or job placements by getting in touch with the <a class="govuk-link" href="https://www.gov.uk/guidance/apply-for-a-kickstart-scheme-grant#job-placement-criteria"> local and national Kickstart Scheme contacts</a>.</p>

      </div>

    </div>
  </main>
</div>

{% endblock %}