{% extends "layout.html" %}

{% block pageTitle %}
What sort of roles – Apply for a Kickstart Scheme Grant for Employers – GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="kickstart-employability-support-1" method="post" novalidate>

      <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="300">
        <div class="govuk-form-group">
          <h1 class="form-title govuk-heading-l" for="word-count">
            What type of role/s do you plan to create for the
            Kickstart Scheme?
          </h1>

          <div id="register-hint" class="govuk-hint">
            <p class="govuk-body">For example:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>retail assistant</li>
              <li>landscape gardener</li>
              <li>web designer</li>
              <li>marketing executive</li>
            </ul>
          </div>

          <textarea class="govuk-textarea govuk-js-character-count" id="word-count" name="word-count" rows="10"
            aria-describedby="word-count-info"></textarea>
        </div>

        <div id="word-count-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
          You have 300 words remaining
        </div>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}