{% extends "layout.html" %}

{% block pageTitle %}
  How many paid employees are there where the job placements will be based? - Kickstart scheme application
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="companies-house">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/registered-answer" method="post" novalidate>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="company-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          How many paid employees are there where the job placements will be based?
        </h1>
          <input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text">
      </legend>


      </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

    </div>
  </div>

{% endblock %}
