{% extends "layout.html" %}

{% block pageTitle %}
  Apply for a Kickstart Scheme Grant for Employers
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Section</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Subsection</li>
  </ol>
</div>

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Apply for a Kickstart Scheme Grant for Employers</h1>

      <p class="govuk-body">Use this service to apply for a Kickstart Scheme employer grant. You can use this service if you are: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>an employer and have 30 or more Kickstart scheme job placements</li>
        <li>representing a group of employers (Kickstart gateway)</li>

      </ul>

      <p class="govuk-body"><a class="govuk-link" href="https://secure.dwp.gov.uk/find-a-kickstart-gateway">Find out how to apply if you cannot offer more than 29 Kickstart Scheme job placements</a> </p>


      <h2 class="govuk-heading-m">Before you start</h2>
<p class="govuk-body"><a class="govuk-link" href="https://secure.dwp.gov.uk/find-a-kickstart-gateway">Check if you can apply for a grant through the Kickstart Scheme.</a></p>
      <p class="govuk-body">You will need:</p>
        <ul class="govuk-list govuk-list--bullet">
<li>the Companies House reference number, Charity Commission number or Office of the Scottish Charity Regulator number, if you have one</li>
<li>the organisation address and contact details</li>
<li>details of the Kickstart Scheme job placements and their location</li>
<li>supporting information to show that the job placements are new jobs and meet the Kickstart Scheme criteria</li>
<li>information about the support the organisation can give to develop employability skills of young people</li>
      </ul>
<p class="govuk-body">If you are applying as a Kickstart gateway you will need these details for each organisation you are applying on behalf of.</p>

<a href="#" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg></a>

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="#">
                Related link
              </a>
            </li>
            <li>
              <a class="govuk-link" href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-link govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
</main>
</div>

{% endblock %}
