{% extends "layout.html" %}

{% block pageTitle %}
Add details of the employers and Kickstart jobs you want to add to your Grant Agreement - Kickstart scheme application
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/check-file-uploaded" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="company-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Check your file
            </h1>
          </legend>
          <p class="govuk-body">We will use this file to check your application</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                File name:
              </dt>
              <dd class="govuk-summary-list__value">
                Multiple Variations Template ABC Training Org, Size: 2MB
              </dd>
          </dl>

          <h2 class="govuk-heading-m">Do you want to use this file?</h2>

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="ksVariations" name="ksVariations" type="radio" value="false">
              <label class="govuk-label govuk-radios__label" for="ksVariations">Yes, use this file</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="ksVariations" name="ksVariations" type="radio" value="true">
              <label class="govuk-label govuk-radios__label" for="ksVariations">No, upload a different file</label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}