{% extends "layout.html" %}

{% block pageTitle %}
  Add details of the employers and Kickstart jobs you want to add to your Grant Agreement - Kickstart scheme application
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
      <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
  </div>
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/select-how-to-submit-variations" method="post" novalidate >

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="company-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Add details of the employers and jobs you want to include in your grant agreement 
            </h1>
            </legend>
            <p class="govuk-body">Gateways can add multiple employers and jobs at the same time. We recommend that if you are adding 10 or fewer you select ‘add employer details one-by-one’. For more than 10 please use the template we provide.</p>
            <p class="govuk-body">For each employer we need to know:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>registered name and address</li>
              <li>their Charity Commission or Companies House registration number, or Office of the Scottish Charity Regulator number, if they have one</li>
              <li>how many paid employees they have</li>
              <li>how many additional jobs they are offering</li>
              <li>are they new to you as a Kickstart gateway?</li>
              <li>are they an existing contact with more jobs to offer?</li>
            </ul>

            <h2 class="govuk-heading-m">Select how you want to provide this information</h2>

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ksVariations" name="ksVariations" type="radio" value="false">
                <label class="govuk-label govuk-radios__label" for="ksVariations">Add employer details one-by-one</label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ksVariations" name="ksVariations" type="radio" value="true">
                <label class="govuk-label govuk-radios__label" for="ksVariations">Complete and submit a template we provide</label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
      </form>

    </div>
  </div>

{% endblock %}