{% extends "layout.html" %}

{% block pageTitle %}
Apply for a Kickstart Scheme Grant for Employers
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="uploading-file-progress" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="company-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Send us your completed template
            </h1>
          </legend>
          <div class="govuk-form-group">
            <p class="govuk-body">
              When you have completed all columns in the template, save it with your organisation name and today's date.
              For example: 'GatewayName290421'
            </p>
            <p class="govuk-body">
              The maximum file size is 5MB
            </p>
            <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}