
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Kickstart scheme application - prototypes </h1>

      <p class="govuk-body">
        This is for testing only, do not rely on it if you want something real to happen.
      </p>

      <h2 class="govuk-heading-m">Collecting organisation reference numbers</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="option1/type-of-org">Option 1</a>
        </li>
        <li>
          <a href="option2/companies-house">Option 2</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">Option 3</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
