{% extends "layout.html" %}

{% block pageTitle %}
  Apply for a Kickstart Grant for Employers
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Kickstart scheme application – prototypes </h1>

      <span class="govuk-tag">OUT OF SYNC</span>
      <h2 class="govuk-heading-l">Employer journey</h2>

      <p class="govuk-body">
        This is currently out of sync with the live version and has some broken links that need fixing.</p> 
        <p>Version 3 is a copy of the current live version (February 2021). It is not necessarily the most up to date version as some of the feature designs will have other content in them which may go live and supercede this version.</p> 
        <p>This site contains prototypes for the 'Apply for a Kickstart Scheme Grant for Employers' service. The latest update removes the Gateway route from the journey.</p>

      <p>Neil Holroyd (IxD), Elizabeth Hughes (Content) and Jonathan Lorrimer (Content)</p>

      <a href="version-3/start" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Version 3
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
        </svg>
      </a>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <!-- FEATURE IDEAS -->

  <h2 class="govuk-heading-l">Feature designs</h2>

      <h3 class="govuk-heading-m">Sprint 24 – Revised Companies House API journey</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><strong>12th August</strong> – this is the updated agreed journey as of today but without the revised content which is with Liz. Patrick has access to this on GitHub if it is just for content change and to progress to done for the end of sprint</li>              
        <li><a href="design-features/1197_grant-variations/start-api-revised">Prototype for gateway grant variations applications using Companies House API </a>. This is the second iteration of this work</li>
        <li><a href="design-features/1197_grant-variations/gateway-api-revised/employer-details-partial-match">Employer partial match page </a>. Liz, this is the page it goes to if the API returns only a partial match, where we need to write some content.</li>        
        <li><a href="https://app.mural.co/t/universalcredit7056/m/universalcredit7056/1626251323887/b65ea96bfcfa8139db9c2ff370f44a7a47e4fcdd?sender=ucb6f993c888457ef62fb0717">Discovery work for Companies House API</a></li>
        <li>Neil Holroyd (IxD), Elizabeth Hughes (content designer) and Annie Nofer (user research). (August 2021)</li>      
      </ul>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h3 class="govuk-heading-m">Sprint 22 – Companies House API</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="design-features/1197_grant-variations/start-api">Prototype for gateway grant variations applications using Companies House API </a></li>
        <li><a href="https://app.mural.co/t/universalcredit7056/m/universalcredit7056/1626251323887/b65ea96bfcfa8139db9c2ff370f44a7a47e4fcdd?sender=ucb6f993c888457ef62fb0717">Discovery work for Companies House API</a></li>
        <li>Neil Holroyd (IxD), Elizabeth Hughes (content designer) and Annie Nofer (user research). (July 2021)</li>      
      </ul>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h3 class="govuk-heading-m">Sprint 18-21 – Variations for employers and gateways</h3>

        <ul class="govuk-list govuk-list--bullet">
        <li><a href="design-features/1197_grant-variations/start">Prototype for grant variations for employers and gateways</a>. Use this prototype to test the features for employer and gateway variation applications</li>
        <li><a href="https://app.mural.co/t/universalcredit7056/m/universalcredit7056/1616747862548/e1e0d4d4d445ce89ebda9886e5d3b900e9f70966?sender=ucb6f993c888457ef62fb0717">Discovery work for grant variations</a></li>        
        <li>Neil Holroyd (IxD), Elizabeth Hughes (content designer), Mike Norrington (service designer) and Annie Nofer (user research). (April-June 2021)</li>
      </ul>     

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h3 class="govuk-heading-m">Previous sprints</h3>

  <p><a href="design-features/1152-employability/start">KICK-1152 (epic): Improve employability questions</a></p>

        <ul class="govuk-list govuk-list--bullet">
        <li>Use this prototype to test the features introduced for this ticket number</li>
        <li>Neil Holroyd (IxD) and Elizabeth Hughes (Content Designer) (February 2021)</li>
      </ul>

  <p>Pages for A-B testing</p>

        <ul class="govuk-list govuk-list--bullet">
        <li><a href="design-features/1152-employability/check-your-answers-review-full-width">Alternative check your anwers page</a></li>
        <li><a href="design-features/1152-employability/type-of-roles-alternative">Alternative roles you plan to create page</a></li>
      </ul>      

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <h2 class="govuk-heading-m">Kickstart Scheme previous prototypes</h2>

        <ul class="govuk-list govuk-list--bullet">
        <li>For queries/issues on previous versions, contact <a href="mailto:jonathan.lorrimer@engineering.digital.dwp.gov.uk">Jonathan Lorrimer (Content Designer)</a></li>
        <li>Created by Becky Mahay (content designer) and Mike Norrington (service designer)</li>
      </ul>      

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="option2/start">Version 2</a>
        </li>
        <li>
          <a href="option1/start">Version 1</a>
        </li>

      </ul>
    </div>
  </div>

{% endblock %}