{% extends "layout.html" %}

{% block pageTitle %}
  What is your Kickstart Scheme Application ID? - Kickstart scheme application
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="employer-details" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                We pull data from Companies House to help fill your application. We cannot access their data at the moment
              </h1>
            </legend>

            <p class="govuk-body">
              When you continue you must enter the details manually. 
            </p>
            <p class="govuk-body">

            <button class="govuk-button" data-module="govuk-button">
            Continue
        </button>
          </form>
        </div>
      </div>

    {% endblock %}