{% extends "layout.html" %}
{% block pageTitle %}
Is the employer registered with Companies House? – Kickstart scheme application
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <form action="/has-company-number-revised" method="post">
    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="has-registration-number-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Is the employer you want to add registered with Companies House?
      </h1>
    </legend>
    <p class="govuk-body">Some charities are only part-registered with Companies House. You can <a class="govuk-link" href="https://find-and-update.company-information.service.gov.uk/" rel="noreferrer noopener" target="_blank">search Companies House for their registration number and details held there. (This will open in a new tab)</a>.  
    </p>
    <span class="govuk-hint" id="crn-hint">If they are not fully registered select No</span>

    <div class="govuk-radios govuk-radios--stacked">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="has-registration-number" name="has-registration-number" type="radio" value="false">
        <label class="govuk-label govuk-radios__label" for="has-registration-number">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="has-registration-number-2" name="has-registration-number" type="radio" value="true">
        <label class="govuk-label govuk-radios__label" for="has-registration-number-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

  </form>
</div>
</div>
{% endblock %}
