{% extends "layout.html" %}
{% block pageTitle %}
The details you entered did not match our records – Kickstart scheme application
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">The details you entered did not match our records</h1>
    <p class="govuk-body">We could not match the details you entered with records held by Companies House.</p>
    <p class="govuk-body">If you used the wrong details, you can <a class="govuk-link" href="company-number">try again using different details</a>, or you can choose to <a class="govuk-link" href="/design-features/1197_grant-variations/gateway-api-revised/employer-details">add them manually</a>.</p>
  </div>
</div>
{% endblock %}
