{% extends "layout.html" %}

{% block pageTitle %}
  Are your new jobs just for the Kickstart Scheme? - Kickstart scheme application
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/1657-variations-additional" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="company-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Are your new jobs just for the Kickstart Scheme?
              </h1>
            </legend>

            <p class="govuk-body">The jobs must:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>be funded by the Kickstart Scheme grant and would not exist without this funding</li>
              <li>be paid from the grant money for the 25 hours per week on National Minimum Wage (employers can pay a higher wage and pay for more hours)</li>
              <li>not replace existing or planned jobs </li>
              <li>not cause existing employees or contractors to lose or reduce their employment</li>
            </ul>

            <h2 class="govuk-heading-m">Do all your new jobs meet this criteria?</h2>

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="metadd-yes" name="metadd" type="radio" value="true">
                <label class="govuk-label govuk-radios__label" for="metadd-yes">Yes, all jobs meet this criteria</label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="metadd-no" name="metadd" type="radio" value="false">
                <label class="govuk-label govuk-radios__label" for="metadd-no">No, not all jobs meet this criteria</label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
      </form>

    </div>
  </div>

{% endblock %}