{% extends "layout.html" %}

{% block pageTitle %}
  What is your Kickstart Scheme Application ID? - Kickstart scheme application
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
      <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
  </div>
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/design-features/1197_grant-variations/employer/how-many-employees" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What is your Kickstart Scheme Application ID?
              </h1>
            </legend>

            <p class="govuk-body">
                If you are an employer who has applied through a Kickstart gateway in the past:
            </p>            

        <ul class="govuk-list govuk-list--bullet">
          <li>do not use your gateway’s Kickstart Scheme Application ID in this online service</li>
          <li>you can contact your gateway to discuss adding more Kickstart Scheme jobs </li>
        </ul>          

            <p class="govuk-hint">
              You can find your Kickstart Scheme Application ID on your grant agreement from DWP or on payment remittance documents. It starts with KS followed by 8 characters. For example: KS123ABC78.
            </p>

  



            <div class="govuk-form-group">
              <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
            Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}